.draggable {
  text-align: center;
  background: white;
  font-size: large;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 50%;
  border: 1px solid red;
  background-color: rgba(184, 135, 11, 0.788);
  margin: auto;
  padding: 15px 0;
}

.dropzone {
  width: 25%;
  height: 20px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 15px;
}

button {
  width: 165px;
  font-size: large;
}



.timer {
  background-color: rgb(88, 81, 36);
  display: inline-block;
  padding: 10px;
  color: red;
}